:host {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 1rem;
  cursor: pointer;

  .avatar {
    background-color: #66cdaa;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 51, 43);
  }

  .content {
    h5 {
      font-size: 1.15rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      color: #353535;
    }
  }

  &:hover {
    background-color: #d4d4d4;
  }
}
