:host {
  width: 18rem;
  height: calc(100vh - 2rem);
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  .list-items {
    .list-item {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      img {
        width: 1.4rem;
        height: 1.4rem;
      }

      h5 {
        font-size: 1.15rem;
        font-weight: 500;
        flex: 1;
      }

      &:hover {
        background-color: #d4d4d4;
      }

      &.active {
        background-color: #d4d4d4;
      }
    }

    &.custom-lists {
      flex: 1;
      overflow-y: auto;
    }
  }

  .seperator {
    border-bottom: 1px solid #d4d4d4;
    margin: 1rem;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;

    img {
      width: 1.8rem;
      height: 1.8rem;
    }

    h5 {
      font-size: 1.15rem;
      font-weight: 500;
    }

    &:hover {
      background-color: #d4d4d4;
    }
  }
}
